<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Assiste Saúde</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>assistsaude</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Explain the reasons for accessing...</string>
	<key>NSCalendarsUsageDescription</key>
	<string>O calendário é necessário para definir datas dos eventos.</string>
	<key>NSCameraUsageDescription</key>
	<string>Este aplicativo requer acesso à sua câmera de fotos para alterar a imagem no perfil ou inserir imagem nas ocorrências.</string>
	<key>NSContactsUsageDescription</key>
	<string>Este aplicativo requer acesso aos contatos para uso dos convites exclusivos do app.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Para sua segurança utilizamos o face id</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>A localização é necessária para termos sua localização pontual pelo app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sua localização é necessária para benefícios para você</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs to be able to access your motion use</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este aplicativo requer acesso à sua biblioteca de fotos para alterar a imagem no perfil ou inserir imagem nas ocorrências.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>reconhece a sua fala</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
